node_modules/
/dist/
/dist-server/
/dist-worker/
/dist-renderer/
.azure/
.env
.env.*
*.local
*.tsbuildinfo
/.analysis-report-*/
/.csv-report-tests-*/
/.report-download-tests-*/
/.report-qa-*/
/.grade-integration-*/
.DS_Store
